<div class="item-header">
  {{#if title}}
  <div class="item-header-title">
    {{title}}
    {{#if github}}
    <a href="{{github}}">Github</a>
    {{/if}}
    {{#if medium}}
    <a href="{{medium}}">Medium Article</a>
    {{/if}}
  </div>
  {{/if}}
  {{#if subtitle}}
  <div class="item-header-subtitle">
    {{subtitle}}
  </div>
  {{/if}}
</div>