{{#if resume.publications.length}}
<section id="work">
    <h2>
        {{#if_eq resume.language 'fr'}}
        {{i18n 'pub' 'fr'}}
        {{else}}
        {{i18n 'pub' 'en'}}
        {{/if_eq}}
    </h2>
    {{#each resume.publications}}
    {{#lt @index 3}}
    {{#> item title=name subtitle=publisher releaseDate=releaseDate}}
    {{#if summary}}
    <ul class="highlights">
        {{#each summary}}
        <li>{{.}}</li>
        {{/each}}
    </ul>
    {{/if}}
    {{/item}}
    {{/lt}}
    {{/each}}
</section>
{{/if}}